#jinja2: trim_blocks:False
; Terminal Configuration at Startup
; See: http://www.metatrader4.com/en/trading-platform/help/service/start_conf_file

{%- for key, value in ea_runner_bt_mt4_config.items() %}
{{ key ~ '=' ~ (value or '') }}
{%- endfor -%}
